.App {
  text-align: center;
  
}

.header_box{
  border: 2px;
  border-radius: 10px 0px 10px 0px;
  border-color: black;
  border-style: solid;
  margin: 20px;
}
.text_box{
  color: black;
  background-color: pink;
}
.type_script{
 color: rgba(12, 8, 24, 0.904); 
}